body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  align-items: center;
  padding-left: 40%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-button {
  cursor: pointer;
  padding-left: 600px;
}
.cart-button,
.product-info {
  cursor: pointer;
}

.cart-title {
  text-align: center;
  margin-top: 50px;
  font-family: Georgia, sans-serif;
}

.products-photo {
  width: 200px;
  height: 200px;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.product-info {
  width: 200px;
  height: 260px;
}

.login-button {
  width: 30px;
}

.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

}

.product-details {
  display: flex;
  flex-direction: column;
  /* margin-left: 300px; */
}

.sc-photo {
  width: 120px;
  height: 120px;
  margin-left: 150px;
  cursor: pointer;
}

.delete-sc-item {
  margin-right: 150px;
}

.sc-product-name {
  width: 250px;
  text-align: center;
}

.sc-horizontal-line {
  width: 80%;
}
