body {
  font-family: sans-serif;
}

#product-form {
  border-radius: 10%;
  width: 160px;
  height: 220px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  background-color: pink;
}

.userData {
  border-radius: 10%;
  width: 270px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  background-color: pink;
}

.username {
  border-radius: 10%;
  width: 260px;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  background-color: pink;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bar {
  color: #7fc469;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}

.single-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.single-product > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: auto;
}

.single-product-info {
  color: rgb(100, 100, 255);
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.single-product img {
  width: 35%;
  /* padding-left: 40%; */
}

.single-product-description {
  color: blue;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-button {
  cursor: pointer;
  padding-left: 600px;
}
.cart-button,
.product-info {
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
}

.cart-title {
  text-align: center;
  margin-top: 50px;
  font-family: Georgia, sans-serif;
}

.products-photo {
  width: 220px;
  height: 220px;
  border-radius: 5px;
  border: 2px solid black;
}

.single-form {
  border-radius: 10%;
  width: 160px;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  background-color: pink;
}

.single-product-categories {
  border-radius: 10%;
  width: 300px;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  background-color: pink;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 280px;
  align-items: center;
  flex: 1;
  margin-bottom: 10px;
}

.login-button {
  width: 30px;
}

.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.product-details {
  display: flex;
  flex-direction: column;
  /* margin-left: 300px; */
}

.product-name-price {
  border-radius: 10%;
  width: 220px;
  height: 40px;
  box-sizing: content-box;
  background-color: pink;
  text-align: center;
  text-align: center;
}

.filterBar {
  color: blue;
  background-color: pink;
}

.sc-photo {
  width: 120px;
  height: 120px;
  margin-left: 150px;
  cursor: pointer;
}

.login-button {
  width: 30px;
}

.delete-sc-item {
  margin-right: 150px;
}

.sc-product-name {
  width: 250px;
  text-align: center;
}

.sc-horizontal-line {
  width: 80%;
}

.sc-quantity {
  /* width: 50%; */
  margin: 0 auto;
  align-items: center;
  text-align: center;
  /* margin-top: 10px; */
}

.sc-incrementer {
  margin: 10px;
  width: 25px;
}

.sc-subtotal-checkout {
  float: right;
  margin-right: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.sc-checkout-btn {
  height: 30px;
  margin-top: 10px;
}

.gc-email-input,
.gc-address-input,
.gc-address-line2-input,
.gc-city-input,
.gc-phone-input,
.gc-card-number,
.gc-nameoncard-input {
  height: 30px;
  width: 90%;
  margin-top: 15px;
}

.gc-shipping-address-title {
  margin-top: 50px;
  font-weight: bold;
  margin-left: 0%;
}
.gc-payment-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 2px;
}
.gc-contact-info-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

.gc-contactinfo-prevuser {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}
.c-contact-info-title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.gc-first-name {
  margin-left: -1.8%;
}
.gc-first-name,
.gc-last-name {
  height: 30px;
  width: 90.75%;
}

.gc-name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89.2%;
  margin-top: 20px;
  height: 35px;
  margin-bottom: -2px;
}

.gc-country-state-zip-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89.2%;
  margin-top: 15px;
  height: 35px;
  margin-bottom: -2px;
}
#gc-country-input {
  margin-left: -1.8%;
}
#gc-country-input,
#gc-state-input,
#gc-zipcode-input {
  width: 32%;
}

#gc-container {
  display: flex;
  flex-direction: row;
}
.gc-container-divider {
  margin-right: 50px;
  height: auto;
}
.container-left {
  overflow: hidden;
  width: 80%;
  float: left;
}
.container-right {
  width: 35%;
  float: right;
}

.gc-shopping-cart {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
.product-info-container {
  background-color: pink;
}

.gc-product-photo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.gc-product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  margin-top: 10px;
}

#gc-subtotal-total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
}

.gc-payment-btn {
  float: right;
  margin-right: 30px;
  margin-top: 40px;
  height: 40px;
  width: 160px;
  color: white;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  border-color: black;
}

.product-categories {
  padding: 1px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-history {
}

.single-order-history {
  display: flex;
  flex-wrap: wrap;
}

.single-order-history.hide-history {
  display: block;
}

.order-history-product {
  border-style: solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.order-history-product img {
  width: auto;
  height: 130px;
}

.gc-exp-cvc-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89.2%;
  margin-top: 15px;
  height: 35px;
}

.gc-exp-input,
.gc-CVC-input {
  height: 30px;
  width: 49%;
}
.gc-exp-input {
  margin-left: -16px;
}

#oc-thank-you-text {
  margin-top: 50px;
  text-align: center;
  font-family: "neue-haas-grotesk-display";
}

.oc-confirmation-sent-text {
  text-align: center;
  font-family: "neue-haas-grotesk-display";
  font-size: 20px;
}

#oc-logo {
  width: 70px;
  height: 70px;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pfb-individual-buttons {
  height: 30px;
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: red;
}

.navigationActive a {
  color: white;
  background-color: red;
}

.navigationDisabled a {
  color: grey;
  background-color: grey;
}
