body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  align-items: center;
  padding-left: 40%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-button {
  cursor: pointer;
  padding-left: 600px;
}
.cart-button,
.product-info {
  cursor: pointer;
}

.cart-title {
  text-align: center;
  margin-top: 50px;
  font-family: Georgia, sans-serif;
}

.products-photo {
  width: 200px;
  height: 200px;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.product-info {
  width: 200px;
  height: 260px;
}

.login-button {
  width: 30px;
}

.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

}

.product-details {
  display: flex;
  flex-direction: column;
  /* margin-left: 300px; */
}

.sc-photo {
  width: 120px;
  height: 120px;
  margin-left: 150px;
  cursor: pointer;
}

.delete-sc-item {
  margin-right: 150px;
}

.sc-product-name {
  width: 250px;
  text-align: center;
}

.sc-horizontal-line {
  width: 80%;
}

.sc-quantity {
  /* width: 50%; */
  margin: 0 auto;
  align-items: center;
  text-align: center;
  /* margin-top: 10px; */
}

.sc-incrementer {
  margin: 10px;
  width: 25px
}

.sc-subtotal-checkout {
  float: right;
  margin-right: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.sc-checkout-btn {
  height: 30px;
  margin-top: 10px;
}

.gc-contactinfo-prevuser {
  display: flex;
  justify-content: space-between;
  width: 90.75%;
  margin-top: 40px;
}

.gc-email-input, .gc-address-input, .gc-address-line2-input, .gc-city-input, .gc-phone-input, .gc-card-number, .gc-nameoncard-input {
  height: 30px;
  width: 90%;
  margin-top: 15px;
}

.gc-name-input {
  margin-top: 40px;
}

.gc-shipping-address-title {
  margin-top: 100px;
}

.gc-first-name, .gc-last-name {
  height: 30px;
  width: 90.75%;
}

.gc-name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90.75%;
  margin-top: 15px;
  height: 35px;
}

.gc-country-state-zip-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90.75%;
  margin-top: 15px;
  height: 35px;
}

#gc-country-input, #gc-state-input, #gc-zipcode-input {
  width: 32%

}

#gc-container {
  display: flex;
  flex-direction: row;
}
.gc-container-divider {
  margin-right: 50px;
  height:auto;

}
.container-left {
  overflow: hidden;
  width: 80%;
  float: left;
}
.container-right {
  width: 35%;
  float: right;
}

.gc-shopping-cart {
  text-align: center;
}

.gc-product-photo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.gc-product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  margin-top: 10px;
}

#gc-subtotal-total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
}

.gc-payment-btn {
  float: right;
  margin-right: 30px;
  margin-top: 40px;
  height: 40px;
  width: 160px;
  color: white;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  border-color: black;
}

.gc-exp-cvc-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90.75%;
  margin-top: 15px;
  height: 35px;
}

.gc-exp-input, .gc-CVC-input {
  height: 35px;
  width: 48%;
}

